In [1]:
import pandas as pd
import numpy as np

In [29]:
genome_types = ['gene',
                'lnc_RNA',
                'miRNA',
                'ncRNA',
                'ncRNA_gene',
                'rRNA',
                'snRNA',
                'snoRNA',
                'tRNA']

In [49]:
for t in genome_types:
    df_fC = pd.read_csv(f'/Users/siomi19/Desktop/AtAgo1 RNA-seq/featureCounts/results/AtAgo1_RNA-seq_featureCounts_{t}.txt',
                        skiprows=1,
                        sep="\t",
                        header=0,
                        index_col=0,
                        usecols=[0,6,7,8,9,10,11,12,13]
                        )
    df_fC.columns = [n.split("/")[-1].split("_39")[0] for n in df_fC.columns]
    
    df_fC.iloc[:,[0,1,4,5]].to_csv(f'/Users/siomi19/Desktop/AtAgo1 RNA-seq/featureCounts/results/AtAgo1_RNA-seq_featureCounts_{t}_AGO1_ago1.txt',
                        sep="\t",
                        header=True,
                        index=True
                        )

    df_fC.iloc[:,[0,1,6,7]].to_csv(f'/Users/siomi19/Desktop/AtAgo1 RNA-seq/featureCounts/results/AtAgo1_RNA-seq_featureCounts_{t}_AGO1_deltaN.txt',
                        sep="\t",
                        header=True,
                        index=True
                        )
    
    df_fC.iloc[:,[4,5,6,7]].to_csv(f'/Users/siomi19/Desktop/AtAgo1 RNA-seq/featureCounts/results/AtAgo1_RNA-seq_featureCounts_{t}_ago1_deltaN.txt',
                        sep="\t",
                        header=True,
                        index=True
                        )

In [48]:
df_fC.iloc[:,[0,1,6,7]]

                        AGO1_3  AGO1_4  deltaN_1_9  deltaN_4_1
Geneid
transcript:AT1G01270.1       0       0           0           0
transcript:AT1G01870.1       0       0           0           0
transcript:AT1G01890.1       0       0           0           0
transcript:AT1G02480.1       0       0           0           0
transcript:AT1G02600.1       0       0           0           0
...                        ...     ...         ...         ...
transcript:ATCG01190.1    4803    4801        4815        4662
transcript:ATCG01200.1     204     105         203         189
transcript:ATCG01220.1       0       0           0           1
transcript:ATCG01260.1       0       0           1           0
transcript:ATCG01290.1       0       3           0           1

[689 rows x 4 columns]

In [24]:
set(df_gff.iloc[:,2].values)

{'CDS',
 None,
 'chromosome',
 'exon',
 'five_prime_UTR',
 'gene',
 'lnc_RNA',
 'mRNA',
 'miRNA',
 'ncRNA',
 'ncRNA_gene',
 'rRNA',
 'snRNA',
 'snoRNA',
 'tRNA',
 'three_prime_UTR'}

In [4]:
df_fC

,Geneid,Chr,Start,End,Strand,Length,AtAgo1_RNA-seq/220809_RNAseq/Files/bam/AGO1_3_39bp._sorted_rmblack.bam,AtAgo1_RNA-seq/220809_RNAseq/Files/bam/AGO1_4_39bp._sorted_rmblack.bam,AtAgo1_RNA-seq/220809_RNAseq/Files/bam/Col_1_39bp._sorted_rmblack.bam,AtAgo1_RNA-seq/220809_RNAseq/Files/bam/Col_2_39bp._sorted_rmblack.bam,AtAgo1_RNA-seq/220809_RNAseq/Files/bam/ago1_1_39bp._sorted_rmblack.bam,AtAgo1_RNA-seq/220809_RNAseq/Files/bam/ago1_2_39bp._sorted_rmblack.bam,AtAgo1_RNA-seq/220809_RNAseq/Files/bam/deltaN_1_9_39bp._sorted_rmblack.bam,AtAgo1_RNA-seq/220809_RNAseq/Files/bam/deltaN_4_1_39bp._sorted_rmblack.bam
0,gene:AT1G01010,1,3631,5899,+,2269,117,165,147,179,462,429,151,200
1,gene:AT1G01020,1,6788,9130,-,2343,147,164,175,145,185,152,141,188
2,gene:AT1G01030,1,11649,13714,-,2066,59,100,96,126,87,81,119,76
3,gene:AT1G01040,1,23121,31227,+,8107,710,771,843,723,1322,1180,731,969
4,gene:AT1G01050,1,31170,33171,-,2002,673,856,710,871,993,1133,688,899
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27650,gene:ATCG01250,Pt,141854,143708,+,1855,251,257,306,432,308,264,646,293
27651,gene:ATCG01270,Pt,144921,145154,-,234,1,9,1,4,4,5,6,7
27652,gene:ATCG01280,Pt,145291,152175,-,6885,87,153,92,146,116,100,286,147
27653,gene:ATCG01300,Pt,152506,152787,+,282,727,704,922,1030,861,862,685,749
27654,gene:ATCG01310,Pt,152806,154312,+,1507,7560,6166,9240,9661,8847,8526,7711,6889